<li>
	<%= gravatar_for user, size: 30 %>
	<%= link_to user.name, user %>
	<% if current_user.admin? %>
		| 
		<!--  <%= link_to "DELETE", user, :method => :delete, :confirm => "You sure?", :title => "Delete - #{user.name}" %> -->
		<%= link_to("Delete", user, :method => :delete, :class => 'action', :confirm => 'Are you sure?') %>

	<% end %>
</li>