<!DOCTYPE>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | Home</title>
	<head>
	<body>								
		<h1>Sample APP</h1>
		<p>
			This is the <a href = "#">homepages</a>
		</p>
	<body>
</html>
